services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - de_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  dbt:
    build:
      context: ./dbt
    container_name: dbt_service
    env_file:
      - .env
    volumes:
      - ./dbt:/usr/app
    working_dir: /usr/app
    networks:
      - de_network
    depends_on:
      - postgres
    command: ["sleep", "infinity"]

volumes:
  postgres_data:

networks:
  de_network:
    driver: bridge
